body{
      background-image: url('https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!jNl8zjJmE0Sm6pzqg6gJnHBSMXDqv6xPmCtbFEnppD87fmdYZuYeS5GxfAL39x60%2Fitems%2F016DGNV4LIOVDB4ZV4KBHZMHWGWXG4ZSTW%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B1E467568-BC66-4F50-961E-C6B5CDCCCA76%7D%2C1%22&srcWidth=&srcHeight=&width=880&height=585&action=Access'); 
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: #00000096;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}
form{
    border: 2px solid;
    color: #fff;
    background-color: #00000096;
    font-size: 15 px;
    width:300px;
    padding: 60px;

}
table{
    width:200px;
    text-align: center;
   
}
p{
    border: 1px solid white;
    margin-top:30px;
}
table,th,td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #00000096 ;
    color: white;
    
}
#leftDiv{
    float: left;
    width: 40%;
}
#rightDiv{
    float:right;
    
}
footer{
    clear: both;
    text-align: center;
    color: white;
}
